name: lib-version prerelease

on:
  push:
    branches-ignore:
      - master
  workflow_dispatch:

jobs:
  prerelease:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install xml tools
        run: sudo apt-get update && sudo apt-get install -y xmlstarlet

      - name: Run prerelease script
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GITHUB_REPOSITORY: ${{ github.repository }}
          BRANCH_NAME: ${{ github.ref_name }}
        run: |
          chmod +x .github/scripts/make-prerelease.sh
          .github/scripts/make-prerelease.sh  