name: Release
on: push
jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout code
        uses actions/checkout@v4
      
      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          java-version: '25'
          distribution: 'temurin'
      
      - name: Configure Maven for GitHub Packages
        run: |
          cat > ~/.m2/settings.xml << EOF
          <settings>
            <servers>
              <server>
                <id>github</id>
                <username>\${{ github.actor }}</username>
                <password>\${{ secrets.GITHUB_TOKEN }}</password>
              </server>
            </servers>
          </settings>
          EOF
        
      - name: Deploy to GitHub Packages
        run: mvn -B deploy