name: Release
on: push
jobs:
  build:
    runs-on: ubuntu-24.04
    container:
      image: maven:3.9-eclipse-temurin-25-noble
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        
      - name: Deploy to GitHub Packages
        run: mvn -B deploy
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}